# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# binary
pdi-util*
build
test
output
output.*
*.xlsx
main/*cli*
main/build
main/*.zip
main/output

# launch 
.vscode/launch.json

# mac os
.DS_Store

# ast tests

ast/**/output.json